<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="database" class="com.proje.database.DataBase" abstract="true">
		<property name="pasword" value="1234"/>
		<property name="username" value="root"/>
	</bean>
	<bean id="databaseMySql" class="com.proje.database.DataBase" parent="database">
		<property name="url" value="jdbs:mysql"/>
	</bean>
	<bean id="databaseOracle" class="com.proje.database.DataBase" parent="database">
		<property name="url" value="jdbs:oracle"/>
	</bean>

</beans>
