<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="database" class="com.proje.database.Database">
		<constructor-arg name="password" value="1234"/>
		<constructor-arg name="username" value="root"/>
		<constructor-arg name="url" value="jdbc:mysql:localhost:3306/deneme"/>

	</bean>
	
	
	<bean id="dbConnection" class="com.proje.DBConnection.DBConnection">
		<property name="database" ref="database"></property>
	</bean>
	
<!-- 	Create Inner Bean  -->
<!-- <bean id="dbConnection" class="com.proje.DBConnection.DBConnection"> -->
<!-- 		<property name="database"> -->
<!-- 			<bean id="database" class="com.proje.database.Database"> -->
<!-- 			<constructor-arg name="password" value="1234"/> -->
<!-- 			<constructor-arg name="username" value="root"/> -->
<!-- 			<constructor-arg name="url" value="jdbc:mysql:localhost:3306/deneme"/> -->
<!-- 	</bean>	 -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	


</beans>
